@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Playfair+Display:wght@400;600;700&display=swap');

@theme {
    --color-bg-primary: #f8f9fa;
    --color-text-primary: #1a1a1a;
    --color-accent-primary: #001a57;
    --color-accent-light: #e6e9f0;

    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;

    --animate-scroll: scroll 40s linear infinite;

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}