@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: "Montserrat", sans-serif;
}

@theme {
    --color-bg-primary: #f8f9fa;
    --color-text-primary: #1a1a1a;
    --color-accent-primary: #1a1a1a;
    --color-accent-light: #e8e8e8;

    --font-serif: "Montserrat", sans-serif;
    --font-sans: "Montserrat", sans-serif;

    --animate-scroll: scroll 40s linear infinite;

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }
}